.header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 10px;
}

.navItem:last-child {
    margin-right: 0;
}
